<!doctype html>
<html lang="id">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title><%= title || 'My EJS App' %></title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/index.css" />
  <% if (isLoggedIn && user && user.userRoleId != 1) { %>
    <link rel="stylesheet" href="/css/chat.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <% } %>
</head>
<body>
  <!-- navigation (partial) -->
  <%- include('../partials/navbar') %>

  <!-- tempat isi halaman -->
  <main class="container">
    <%- body %>  
  </main>

  <%- include('../partials/footer') %>

  <% if (isLoggedIn && user && user.userRoleId != 1) { %>
    <%- include('../partials/userChatBubble') %>
  <% } %>

   <script src="/js/js.js"></script>
</body>
</html>
